<header class="header">
    <div class="container header__container">
        <div class="logo --svg__logo"></div>
        <div class="logo__text --svg__stat4market"></div>
		<div class="logo__descr">
			Надежный сервис<br> 
			аналитики для поставщиков<br> 
			на маркетплейсы
		</div>
		<ul class="header__list">
			<li class="header__link selector --svg__polygon">
				<a class="link" href="#">Аналитика</a>
			</li>
			<li class="header__link">
				<a class="link" href="#">Обучение</a>
			</li>
		</ul>
		<div class="header__tel --svg__tel">
			<a class="header__link tel" href="tel:84994503141">8 (499) 450-31-41</a>
		</div>
        <button class="button">
            <span class="button__arrow --svg__arrow"></span>
            Войти
        </button>
        <div class="burger"></div>
    </div>
    <nav class="container header__nav nav">
		<ul class="nav__list" itemscope itemtype="https://schema.org/BreadcrumbList">
			<li class="nav__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			  <a class="nav__link" href="/" title="Главная" itemprop="item">
				  <span itemprop="name">Главная</span>
				  <meta itemprop="position" content="0">
			  </a>
			</li>
			<li class="nav__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			  <a class="nav__link" href="/" title="Обучение" itemprop="item">
				  <span itemprop="name">Обучение</span>
				  <meta itemprop="position" content="1">
			  </a>
			</li>
	  </ul>
	</nav>
</header>