<section class="main-page section">
    <div class="container main-page__container">
        
        <h1 class="main-page__title">
            <span class="main-page__title_pink">Обучающие курсы</span> для поставщиков на маркетплейсы
        </h1>
        <div class="price">
            <div class="price__wallet --svg__wallet"></div>
            <div class="price__rub">от <span class="price__rub_pink">19 900</span>  ₽</div>
        </div>
        <div class="main-page__content">
            <div class="section__descr">
                <p class="price__paragraph">
                    Обучающие курсы по работе и продвижению на маркетплейсах от практикующих селлеров
                </p>
                <p class="price__paragraph">
                    Добро пожаловать в Академию. Это место для эффективного обучения, где мы рассказываем, как работают маркетплейсы и никогда не вдаемся в теорию, которая не понадобится на практике.
                </p>
                <p class="price__paragraph">
                    Наши уроки помогут понять логику работы площадок и взять управление продажами в свои руки, а не действовать наугад. Становись экспертом в работе с маркетплейсами и увеличивай свою прибыль<span class="hidden__text"> — мы разработали курсы, которые приведут тебя к результату быстро и захватывающе</span>.
                </p>
            </div>
            <div class="main-page__superman">
                <div class="superman --svg__stars">
                    <div class="superman__icon --svg__superman"></div>
                    <div class="superman__icon_circle"></div>
                </div>
            </div>
        </div>
    </div>
</section>