<section class="teaching">
    <div class="container teaching__container">
        <h2 class="section__title teaching__title">
            Обучение по продажам на маркетплейсах от 
            <a href="#" class="teaching__logo">stat<span class="teaching__logo_pink">4</span>market</a>
        </h2>
        <p class="section__descr teaching__descr">
            «Увеличение реальной прибыли, конкретика и ключевые инструменты, которые дают результат» — на этом тезисе созданы наши курсы
        </p>
        <ul class="teaching__list">

            <li class="teaching__item item">
                <div class="item__icon --svg__target"></div>
                <h5 class="item__title">Наше обучение построено очень лаконично и просто</h5>
                <p class="item__descr">
                    Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках только конкретику, без лишней теории и “воды”.
                </p>
            </li>

            <li class="teaching__item item">
                <div class="item__icon --svg__site"></div>
                <h5 class="item__title">Ко всем урокам есть дополнительные материалы</h5>
                <p class="item__descr">
                    Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.
                </p>
            </li>

            <li class="teaching__item item">
                <div class="item__icon --svg__friends"></div>
                <h5 class="item__title">Наше обучение — практико-ориентированное</h5>
                <p class="item__descr">
                    Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить полученные знания на практике.
                </p>
            </li>

            <li class="teaching__item item">
                <div class="item__icon --svg__target"></div>
                <h3 class="item__title">Создатели нашей Академии</h3>
                <p class="item__descr">
                    Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а также профессиональные лекторы и методологи.
                </p>
            </li>
        </ul>
    </div>
</section>